 # write acode to get the input in the given forma tand print the output the given formet

input drscription: to take an integer value

output drscription: print the the integer value 

sample input : 3 sample
output :3

In [3]:
a= input()
d= input()

3
3

write a code to get the input in the given format and print the output in the given format 

input description : print the integer list of integers separated by space

sample input : 2 3 4 5 6 7 8

sample output : 2 3 4 5 6 7 8

In [1]:
c=input()
d=input()

2 3 4 5 6 7 8
2 3 4 5 6 7 8

write a code to get the input in the given format and print the output in the given format

input description : first-line indicates two integers which are the size of array and 'k'value . 
second conditions element of an array

output description : print the taken input in the same format 

sample input : 
6 7
9 8 7 6 3

sample output :
6 7 
9 8 7 6 3

In [4]:
e=input()
f=input()
print(e)
print(f)

6 7
9 8 7 6 3
6 7
9 8 7 6 3

write a code to get the input in the given format and print the output in the given format

input description : first-line seprated by space.second-line indicate two integer seprated by space.
third- line indicates two integers seprated by space.

output description : print the input the same format .

sample output :
5 6
5 6
5 6
sample output:
5 6
5 6
5 6

In [5]:
g=input()
h=input()
i=input()
print(g)
print(h)
print(i)

5 6
5 6
5 6
5 6
5 6
5 6

write a code to get the input in the given format and print the output in the given format 

input description : three integers are given in line by line .

output description : print the integers in a single line seprate by space.

sample input : 
8
5
2
sample output : 
8 5 2

In [6]:
j=input()
k=input()
l=input()
print(j,k,l)

8
5
2
8 5 2

write a code to get the input in the given format and print the output in the given format 

input description : 
first- line indicates two integers seprated by space.
seconnd-line indicates to three integers  seprated by space. 
third-line indicates three integers seprated by space.

output description :
print the input in the same value  format 

sample input :
4 5
6 3 2
1 4 7

sample  output :
4 5
6 3 2
1 4 7

In [1]:
m=input()
n=input()
o=input()
print(m)
print(n)
print(o)

4 5
6 3 2
1 4 7
4 5
6 3 2
1 4 7

write a code to get the input in the given format and print the output in the given format 

input description : 

A single line contains a string .

output description :

print the characters in a string separated by space 


sample intput :
Arvind


sample  output :

A r v i n d

In [3]:
name=input()
print("*".join(name))

Arvind
A*r*v*i*n*d

write a code to get the input in the given format and print the output in the given format 

input description : 

A single line contains three float valueseprated by space.

input description : 

A single line contains three float value separate by space.

ouput description : 

print the float value seprated by line .

sample intput :

4.2 1.2 5.4

sample  output :

4.2
1.2
5.4

In [4]:
l=input()
n=l.split()
for i in n:
    print(i)

4.2 1.2 5.4
4.2
1.2
5.4

In [5]:
name=input()
family=name.split()
for i in family:
    print(i)

segar deepa arvind nimal
segar
deepa
arvind
nimal

# write a code to get the input in the given format and print the output in the given format 

input description : 
    
A single line contains a string

ouput description : 

print the charactors in a string seprated by line 

sample input :

Automobile Eneineering

sample output :
A
u
t
o
m
o
b
i
l
e
E
n
g
i
n
e
e
r
i
n
g

In [1]:

input_string = input()
for char in input_string:
    print(char)

Automobile Engineering
A
u
t
o
m
o
b
i
l
e

E
n
g
i
n
e
e
r
i
n
g

write a code to get the input in the given format and print the output in the given format 

input description :

A single line contains a string 

output description :

print the charaters in a string seprated by comma

sample input :
singapure

sample output :

s i n g a p u r e

In [2]:
name=input()
print(" ".join(name))

singapure
s i n g a p u r e