In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")

In [4]:
dataset.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [5]:
 dataset=pd.get_dummies(dataset,drop_first=True)

In [6]:
dataset=dataset.astype(int)

In [7]:
dataset.head()

   age  bmi  children  charges  sex_male  smoker_yes
0   19   27         0    16884         0           1
1   18   33         1     1725         1           0
2   28   33         3     4449         1           0
3   33   22         0    21984         1           0
4   32   28         0     3866         1           0

In [8]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
independend=dataset[['age', 'bmi', 'children',  'sex_male', 'smoker_yes']]

In [10]:
independend.head()

   age  bmi  children  sex_male  smoker_yes
0   19   27         0         0           1
1   18   33         1         1           0
2   28   33         3         1           0
3   33   22         0         1           0
4   32   28         0         1           0

In [11]:
dependend=dataset[['charges']]

In [12]:
dependend.head()

   charges
0    16884
1     1725
2     4449
3    21984
4     3866

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independend,dependend,test_size=0.30,random_state=0)

In [14]:
x_train,x_test,y_train,y_test

(      age  bmi  children  sex_male  smoker_yes
 1163   18   28         0         0           0
 196    39   32         0         0           0
 438    52   46         5         0           0
 183    44   26         0         0           0
 1298   33   27         2         1           0
 ...   ...  ...       ...       ...         ...
 763    27   26         0         1           0
 835    42   35         2         1           0
 1216   40   25         0         1           0
 559    19   35         0         1           0
 684    33   18         1         0           0

 [936 rows x 5 columns],
       age  bmi  children  sex_male  smoker_yes
 578    52   30         1         1           0
 610    47   29         1         0           0
 569    48   40         2         1           1
 1034   61   38         0         1           0
 198    51   18         0         0           0
 ...   ...  ...       ...       ...         ...
 1261   28   37         1         1           0
 494    21   25         4         1           1
 97     55   38         0         1           0
 418    64   39         1         1           0
 920    62   25         0         0           0

 [402 rows x 5 columns],
       charges
 1163     2200
 196      5649
 438     12592
 183      7419
 1298     5261
 ...       ...
 763      3070
 835      7160
 1216     5415
 559      1646
 684      4766

 [936 rows x 1 columns],
       charges
 578      9724
 610      8547
 569     45702
 1034    12950
 198      9644
 ...       ...
 1261     3277
 494     17942
 97      10226
 418     14418
 920     13451

 [402 rows x 1 columns])

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
regressor = LinearRegression()

In [17]:
regressor.fit(x_train,y_train)

LinearRegression()

In [18]:
weight= regressor.coef_

In [19]:
weight

array([[  257.95713126,   320.30709672,   474.41409474,   -39.78524427,
        23432.77389712]])

In [20]:
bias=regressor.intercept_

In [21]:
bias

array([-11891.63040125])

In [22]:
y_pred = regressor.predict(x_test)

In [23]:
from sklearn .metrics import r2_score
r_score = r2_score(y_test,y_pred)

In [24]:
r_score

0.78913454847886

In [25]:
import pickle

In [26]:
filename ="finalized_model_multiplelinear.sav"

In [27]:
pickle.dump(regressor,open(filename,'wb'))

In [28]:
loaded_model=pickle.load(open("finalized_model_multiplelinear.sav",'rb'))

In [29]:
result = loaded_model.predict([[19,20,0,1,4449]])

C:\Users\rsarv\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [30]:
result

array([[1.04251787e+08]])