In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("icecreame scales.csv")

In [5]:
data

    temprature  icecreame scales
0           19              1000
1           18              1150
2           19              1160
3           25              1170
4           26              1500
5           30              1564
6           35              1600
7           36              1670
8           45              1700
9           48              1750
10          50              1765
11          46              1800
12          30              1850
13          18              1950
14          16              1970
15          45              2000
16          56              2050
17          57              2100
18          34              2150
19          31              2170
20          32              2199
21          36              2210
22          49              2270
23          39              2269
24          66              2300

In [6]:
independend=data[["temprature"]]

In [7]:
independend

    temprature
0           19
1           18
2           19
3           25
4           26
5           30
6           35
7           36
8           45
9           48
10          50
11          46
12          30
13          18
14          16
15          45
16          56
17          57
18          34
19          31
20          32
21          36
22          49
23          39
24          66

In [8]:
dependend=data[["icecreame scales"]]

In [9]:
dependend

    icecreame scales
0               1000
1               1150
2               1160
3               1170
4               1500
5               1564
6               1600
7               1670
8               1700
9               1750
10              1765
11              1800
12              1850
13              1950
14              1970
15              2000
16              2050
17              2100
18              2150
19              2170
20              2199
21              2210
22              2270
23              2269
24              2300

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independend,dependend,test_size=0.30,random_state=0)

In [11]:
x_train,x_test,y_train,y_test

(    temprature
 23          39
 14          16
 1           18
 10          50
 13          18
 8           45
 6           35
 18          34
 4           26
 9           48
 7           36
 20          32
 3           25
 0           19
 21          36
 15          45
 12          30,
     temprature
 5           30
 2           19
 19          31
 16          56
 11          46
 22          49
 17          57
 24          66,
     icecreame scales
 23              2269
 14              1970
 1               1150
 10              1765
 13              1950
 8               1700
 6               1600
 18              2150
 4               1500
 9               1750
 7               1670
 20              2199
 3               1170
 0               1000
 21              2210
 15              2000
 12              1850,
     icecreame scales
 5               1564
 2               1160
 19              2170
 16              2050
 11              1800
 22              2270
 17              2100
 24              2300)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
regressor = LinearRegression()

In [14]:
regressor.fit(x_train,y_train)

LinearRegression()

In [15]:
weight= regressor.coef_

In [16]:
weight

array([[13.31654477]])

In [17]:
bias=regressor.intercept_

In [18]:
bias

array([1326.60395796])

In [19]:
y_pred = regressor.predict(x_test)

In [20]:
from sklearn .metrics import r2_score
r_score = r2_score(y_test,y_pred)

In [21]:
r_score

0.5429880791708612

In [22]:
import pickle

In [23]:
filename ="finalized_model_linear.sav"

In [24]:
pickle.dump(regressor,open(filename,'wb'))

In [25]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

In [28]:

result = loaded_model.predict([[20]])

C:\Users\rsarv\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [29]:
result

array([[1592.93485342]])